* {
  font-family: Arial;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(lightsteelblue, lavender);
  border-top: 3px solid steelblue;
}
.page-wrapper {
  max-width: 1024px;
  max-height: 100%;
  margin: auto;
  display: flex;
}

/* --------------------Sidebar styles (left part of the page) --------------------*/
.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.sidebar header {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-right: 1px solid rgb(223, 227, 236);
}
.back-button {
  flex: 1;
}
.back-button svg {
  width: 11px;
  height: 11px;
  position: relative;
  fill: #000;
}
.sidebar header p {
  flex: 15;
  margin: auto;
  text-align: center;
  padding: 1px 1px 5px 1px;
  font-size: 12px;
}
.orders-list {
  border-right: 1px solid lightgray;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 2;
}
.sidebar-search svg {
  width: 11px;
  height: 11px;
  position: relative;
  fill: #000;
}
.sidebar-reload svg {
  width: 15px;
  height: 15px;
  position: relative;
  fill: #000;
}
.sidebar-search,
.sidebar-reload,
.sidebar header button,
.footer-funnel,
.footer-menu,
.footer-mail {
  background: none;
  border: none;
  outline: none;
}
.search-wrap {
  position: relative;
  flex: 0;
  border-right: 1px solid rgb(223, 227, 236);
  border-bottom: 1px solid rgb(223, 227, 236);
  padding: 3px;
  background-color: white;
}
.sidebar-search {
  position: absolute;
  top: 6px;
  right: 27px;
}
.sidebar-reload {
  position: absolute;
  top: 5px;
  right: 2px;
}
.search-wrap input::placeholder {
  font-style: italic;
}
.search-wrap input {
  width: 100%;
  padding: 1px 45px 1px 1px;
}
.order-number ul,
.order-detales ul {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
}
.order-number {
  color: black;
  background-color: white;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(236, 236, 236);
  text-decoration: none;
}
.order-number ul:first-child li {
  max-width: 140px;
  max-height: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
.order-number ul:first-child li {
  font-size: 11px;
  margin: 4px 4px 10px 4px;
}
.order-number ul:last-child li {
  font-size: 11px;
  margin: 4px 4px 10px 4px;
  text-align: right;
}
.order-number ul:first-child li:first-child {
  font-size: 14px;
}
.order-number ul:last-child li:first-child {
  font-size: 18px;
}
.order-number ul:last-child li:last-child {
  font-size: 10px;
  color: green;
}
.order-number:hover {
  background: rgb(232, 239, 247);
}
footer {
  border-right: 1px solid rgb(183, 193, 205);
  flex: 0;
  background-color: rgb(47, 59, 71);
  text-align: right;
}
.footer-funnel svg,
.footer-menu svg,
.footer-mail svg {
  width: 15px;
  height: 15px;
  position: relative;
  fill: LightCyan;
  margin: 6px 2px 2px 2px;
}

/* --------------------Order information styles (right scrolled part of the page) --------------------*/
/* Common information about order */
.order-information {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.order-information header {
  flex: 0;
  background-color: rgb(239, 244, 248);
  border-bottom: 1px solid rgb(223, 227, 236);
  padding: 1px 1px 5px 1px;
  text-align: center;
  font-size: 12px;
}
.order-information-wraper {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.order-detales {
  background-color: rgb(239, 244, 248);
  border-bottom: 2px solid rgb(223, 227, 236);
  flex: 1;
}
.order-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.order-price div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 20px 0 20px;
}
.order-price div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 30px 20px 0 20px;
}
.order-price div h1 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}
.order-price div h2 {
  font-weight: normal;
  font-size: 12px;
  margin: 0;
}
.customer-details ul {
  font-size: 12px;
  margin: 0px 20px 30px 20px;
}
.customer-details ul li {
  margin: 10px 10px 10px 0;
}
/* Shipping address and customer detales TABS */
.tab-bar {
  margin: 0 0 -2px 20px;
}
.tab-bar ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
}
.tab-bar ul li:nth-child(2n + 1) {
  margin: 4px 28px 12px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgb(241, 241, 241);
  border-radius: 50%;
  position: relative;
  transition: 0.5s ease-in-out;
  color: rgb(14, 79, 133);
  z-index: 1;
  border-color: 5px solid rgb(241, 241, 241);
  border: 1px solid rgb(14, 79, 133);
}
.tab-bar ul li:nth-child(2n + 1)::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(14, 79, 133);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s ease-in-out;
  z-index: -1;
}
.tab-bar ul li:nth-child(2n + 1):hover:before {
  transform: scale(1.05);
}
.tab-bar ul li:nth-child(2n + 1):hover {
  color: white;
}
.tab-underline {
  width: 40px;
  height: 2px;
  background-color: rgb(223, 227, 236);
  position: absolute;
}
.tab-bar ul li:nth-child(2) {
  top: 54px;
}
.tab-bar ul li:nth-child(4) {
  top: 54px;
  left: 68px;
}
.tab-bar ul li:nth-child(1):hover ~ li:nth-child(2) {
  background-color: rgb(14, 79, 133);
  transition: 0.7s ease-in-out;
}
.tab-bar ul li:nth-child(3):hover ~ li:nth-child(4) {
  background-color: rgb(14, 79, 133);
  transition: 0.7s ease-in-out;
}
/* Shipping address and customer detales INFORMATION */
.shipping-address {
  background-color: white;
  border-bottom: 2px solid rgb(223, 227, 236);
  flex: 2;
}
.shipping-address table {
  width: 95%;
  border-collapse: collapse;
  text-align: left;
  font-size: 12px;
  border: 1px solid white;
  margin-bottom: 25px;
}
.shipping-address table caption {
  text-align: left;
  padding: 20px 2px 8px 8px;
  font-size: 14px;
  border-bottom: 2px solid rgb(223, 227, 236);
}
.shipping-address table tr:first-child th,
.shipping-address table tr:first-child td {
  padding: 5px 0 0 10px;
}
.shipping-address table tr td {
  padding: 0 0 0 10px;
}
.shipping-address table th {
  text-align: right;
  font-weight: normal;
  width: 30%;
  padding: 2px 2px 2px 2px;
}
/* Table with information about product */
.product-detales {
  flex: 3;
  background-color: whitesmoke;
}
.product-detales table {
  width: 95%;
  border-collapse: collapse;
  text-align: left;
  font-size: 12px;
  border: 1px solid rgb(250, 250, 250);
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  border-bottom: 2px solid rgb(214, 214, 214);
}
.product-detales table caption {
  text-align: left;
  padding: 2px 2px 8px 8px;
  font-size: 14px;
}
.product-detales table tr:nth-last-child(2n) td:first-child {
  font-weight: bold;
}
.product-detales table tr:nth-last-child(2n) td:nth-child(3),
.product-detales table tr:nth-last-child(2n) td:nth-child(6) {
  text-align: left;
  width: 30px;
}
.product-detales table tr:nth-last-child(2n) td:nth-child(2),
.product-detales table tr:nth-last-child(2n) td:nth-child(5) {
  font-weight: bold;
}
.product-detales table th {
  font-weight: normal;
  border: rgb(247, 247, 247);
  border-bottom: 2px solid rgb(214, 214, 214) !important;
  border-top: 2px solid rgb(214, 214, 214);
  background-color: rgb(247, 247, 247);
  padding: 5px 0 5px 0;
  text-align: right;
}
.product-detales table td {
  border: white;
  border-bottom: 1px solid rgb(214, 214, 214);
  text-align: right;
}
.product-detales table td:nth-child(1),
.product-detales table th:nth-child(1) {
  text-align: left;
  border-bottom: 1px solid white;
}
.product-detales table td:only-of-type {
  border-bottom: 1px solid rgb(214, 214, 214);
}

/* Scrollbar styles */
::-webkit-scrollbar-button {
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: darkgray;
}
::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
::-webkit-resizer {
  width: 4px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 8px;
  overflow: hidden;
}
